@import "tailwindcss";

:root {
  --background: #191D26;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@utility container {
  @apply mx-auto p-4;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@layer base {
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}
button{
  @apply cursor-pointer;
}
}